[core]
	editor = nvim
[user]
	name = Niceadam
	email = adam.asaad76@gmail.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = true
